<h2><%= link_to "Add product", new_product_path %>
</h2>
<div class="index-container">

      <% @products.each do |p| %>
        <div class="index-tile">
          <%= link_to "More Detail", p %>
          <h2><%= p.name %> </h2>
          <h2> $ <%= p.price %> </h2>
          <%= image_tag(p.image, class: "index-img") %>
          <%= button_to "Update", edit_product_path(p), method: :get %>
          <%= button_to "Delete", product_path(p), method: :delete %>
        </div>
      <% end %>

</div>
      


  